body {
	margin: 0px; 
	margin-top: 0px; 
	padding: 0; 
	background-color: #27251F; 
	margin: auto;
	font-family: "Arial", Arial, serif; 
	color: #D9D9D6;

}

.blogTitle {
	display: none;

}

.index {
	width: 100%;
	height: 100vh;
}

.indexItem {
	float:left;
	width: 33.33%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	flex-wrap: wrap;
	text-align: center;
}

.indexItem .indexItemContent {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 1s;
	filter: brightness(70%);
	filter: grayscale(75%);
	padding-left: 10%;
	padding-right: 10%;
}

.indexItem .indexItemContent:hover > .indexItemText{
	opacity: 1;
}

.indexItemText {
	transition: all 1s;
	opacity: 0.5;
	font-size: 1.7vh;

}

.indexItem .indexItemContent:hover {
	transform: scale(1.2);
	filter: brightness(100%);
	
}



.siteNotice {
	transition: all 1s;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
}

.siteNoticeBox {
	transition: transform 1s;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-color: #27251F;
	border-radius: 1.7vh;
	
}

.siteNoticeText {
	/*transition: all 1s;*/
	position: absolute;
	top: 0%;
	left: 5%;
	width: 90%;
	height: 100%;
	font-size: 4vh;
}

.siteNoticeText button {
	/*transition: width 1s, height 1s, font-size 1s, padding 1s, border-radius 1s;*/
	
	border: none;
	padding: 1vh 2vh;
	background-color: #00911D; 
	font-size: 4vh;
	text-align: center;
	border-radius: 1.7vh;
	color: #D9D9D6;
	cursor: pointer;
}

.siteNoticeText button:hover {
	filter: brightness(150%);

}





@media only screen and (max-width: 600px) {
	.indexItemText {
		font-size: 1vh;
	}
}
	
/*@media only screen and (max-width: 860px) {
	.siteNoticeBox {
		border-radius: 1vh;
	}
	
	.siteNoticeText {
		font-size: 2vh;
	}
	
	.siteNoticeText button {
		padding: 0.5vh 1vh;
		font-size: 2vh;
		border-radius: 1vh;
	}
}*/









